<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

        <h1 style='display:inline-block'>Wikis</h1>

        <a href='/' class="btn btn-outline-info" style='margin-bottom: 19px; margin-left: 5px'>
            <i class='fas fa-arrow-left'></i>Home</a>
        <h4>Your Wiki Collaborations</h4>
        <a href="/users/collaborations" class="btn btn-primary" style='margin-bottom: 12px'>See Collaborations</a>


        <% if(!currentUser) { %>
        <br>
        <small>Please sign up/sign in to create your own wiki topic.</small>

        <% } else { %>

        <% if(currentUser) { %>
        <p>Want to contribute something new? <a href="/wikis/new" class="btn btn-success">New Wiki</a></p>
        <% } %>

        <% let name = function findName(users, wiki){ 
            for(let i in users){
                if (users[i].id == wiki.userId){
                    return users[i].username
                }
            }
            } %>

        <ul class="list-group">
            <!-- //shows all wikis for admin -->

            <% if (currentUser.role == 'admin') {wikis.forEach((wiki)=> { %>
            <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>">
                    <%= wiki.title %></a>

                <small> creator:
                    <%= name(users, wiki) %>
                    @
                    <%= wiki.createdAt %>
                    (PRIVATE:
                    <%= (wiki.private).toString().toUpperCase(); %>) </small>
            </li>
            <% })} else { %>
            <!-- //shows wikis only if authored by user or they are public
            //to see collaborations as premium user, must click on 'see collaborations' -->

            <% const newWikis = wikis.filter( wiki => wiki.userId === currentUser.id || wiki.private == false) %>
            <% newWikis.forEach((wiki) => { %>
            <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>">
                    <%= wiki.title %></a>

                <small>
                    creator:
                    <%= name(users, wiki) %>
                    @
                    <%= wiki.createdAt %>
                </small>

            </li>

            <% }) }%>
            <% } %>

        </ul>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

</body>

</html>